<body>
  <div th:fragment="navBar(pageTitle)" class="navBar">
      <a href="/" class="logo">
          <img src="/images/greenGoblinClipArtTransparent.png">
      </a>
      <div class="title" th:text="${pageTitle}"></div>
      <ul>
        <li><a th:href="@{/products(category='Men')}" class="textLink">Men</a></li>
        <li><a th:href="@{/products(category='Women')}" class="textLink">Women</a></li>
        <li><a th:href="@{/products(category='Kids')}" class="textLink">Kids</a></li>
        <li><a href="cart"><img class="icon-bag" src="/images/black-bag-icon.png"></a></li>
        <li><a href="user"><img class="header_pic" src="/images/black-user-icon.png"></a></li>
      </ul>
  </div>
</body>