 @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&family=Source+Sans+3&display=swap");


/* common body styling across all pages */
body {
  font-family: 'Source Sans 3', sans-serif;
  background-color: #6B9080;
  /* without the code below, the navbar position shifts: */
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4 {
  font-family: "Poppins", sans-serif;
}

h1 {
  color: white;
  padding-left: 45px;
}

/* nav bar styling */
.navBar {
  width: 100%;
  /* min-width: 1200px;  */
  height: 80px;
  background-color: #EAF4F4;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
  position: sticky;
  top: 0;
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0.06);
}

.navBar .logo img {
  height: 70px;
  width: auto;
  margin-left: 20px;
}

.navBar ul {
  padding: 0;
  margin: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navBar ul li {
  margin-right: 20px;
}

.navBar .textLink {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.navBar ul img {
  max-width: auto;
  height: 30px;
}


/* pre-existing styles */

/* home */
.bestSellersContainer {
  width: 1500px;
  margin: 20px auto;
  padding: 20px;
}

.bestSellersContainer h1 {
  margin-left: 12%;
  color: #EAF4F4;
}

.homeBanner img {
  width: 100%;
  height: auto;
  display: block;
}

/* products and home */
.productsPage {
  width: 1500px;
  margin: 20px auto;
  padding: 20px;
}

.productsPage h2 {
  color: #EAF4F4;
  /* Firefox */
  margin-left: -moz-calc(10% + 20px);
  /* Standard */
  margin-left: calc(10% + 20px);
}

.productGrid {
  margin-left: 10%;
  margin-right: 10%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.productGrid .product {
  padding: 20px;
  text-align: left;
  color: #EAF4F4;
}

.product {
  padding: 20px;
  text-align: left;
  color: black;
}

.productGrid .product img {
  max-width: 100%;
  height: auto;
  border-radius: 20px;
}

.product p {
  margin: 8px;
  margin-left: 20px;
}

button.addToCart {
  background-color: #A4C3B2;
  font-family: 'Source Sans 3', sans-serif;
  color: #EAF4F4;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  /* transition: background-color 0.3s ease; */
}

button.addToCart:hover {
  background-color:#CCE3DE;
  color: #6B9080;
}

/* product page */

.productPgContainer {
  max-width: 1000px;
  max-height: 1000px;
  margin: auto;
  padding-right: 30px;
  padding-left: 30px;
  color: #EAF4F4;
  align-items: center;
}

.scrollContainer {
  opacity: 100%;
  display: flex;
  align-items: center;
}
.scrollContainer img {
  width: 500px;
  height: 500px;
  border-radius: 20px;
  margin-right: 30px;
}

.productOptions {
  display: inline
}

.productOptions p {
  display: inline;
  margin-right: 5px;
}

.productOptions select, input {
  width: 80px;
  height: 25px;
  padding: 5px;
  border-radius: 5px;
  border: none;
  background-color: #F6FFF8;
  margin-top: 5px;
}

.productOptions input, select {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  vertical-align:top;
}

.productOptions select option {
  background-color: #CCE3DE;
}

/* cart page */

.cartContainer {
  display: flex;
  width: 60%;
  height: 80%;
  margin: auto;
  margin-top: 5%;
}

.cartContainer .divider {
  width: 100%;
  min-width: 300px;
  height: 5px;
  background-color: #EAF4F4;
  margin-top: 20px;
}

.cartContainer img {
  height: 250px;
  border-radius: 20px;
  margin-right: 20px;
}

.cartContainer table {
  border-collapse:separate;
  border-spacing:0 15px;
}

.cartContainer table h2 {
  color: #EAF4F4;
}

.cartContainer table p {
  font-weight: bold;
  color: #EAF4F4;
}

.orderSummary {
  min-width: 300px;
  height: 300px;
  margin-left: 100px;
  background-color: #CCE3DE;
  color: black;
  border-radius: 20px;
}

.orderSummaryContents {
  margin: auto;
  margin-top: 10px;
  width: 70%;
}

.orderSummaryContents {
  margin: auto;
  margin-top: 10px;
  width: 70%;
}

.orderSummaryContents p {
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 50px;
}

hr.rounded {
  border-top: 2px solid #000;
  border-radius: 5px;
}

.orderSummaryContents button {
  height: 50px;
  font-size: 20px; 
  width: 222px;
  border-radius: 20px;
  border: none;
  font-weight: bold;
  background-color:#F6FFF8;
}

.orderSummaryContents button:hover {
  background-color:#A4C3B2;
}