.container {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
}

.banner {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  background-size: cover;
}

.banner img {
  width: 100%;
  height: auto;
  display: block;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.product {
  border: 1px solid #ddd;
  padding: 20px;
  text-align: center;
}

.product img {
  max-width: 100%;
  height: auto;
}

.header_pic {
  position: relative;
  width: 30px;
  height: 30px;
  text-align: right;
  float: right;
  padding: 12px;
}

button {
  background-color: #A4C3B2;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color:#A4C3B2;
}
h1{
  color:#6B9080;
  text-align:left;
}