<!DOCTYPE html>
<html lang="en">

<head>
  <title>Cart</title>
  <link rel="stylesheet" href="css/stylesheet.css">
</head>

<body>
  <header>
    <div>
    <h1>Green Goblins Apparel</h1>
    <a href="cart"><img class="header_pic" src="images/shopping-cart.png"></a>
    <a href="user"><img class="header_pic" src="images/user.png"></a>
    </div>
  </header>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="#">Products</a></li>
      <li><a href="#">About Us</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </nav>
  <div class="cart_container">
    <h3>Cart items go here</h3>
    <ol>
        <li><a href="#">First Item</a></li>
        <li><a href="#">Second Item</a></li>
        <li><a href="#">Third Item</a></li>
    </ol>
  </div>
  <hr>
  <div class="checkout_button_container">
    <button>Checkout</button>
  </div>
</body>
</html>