<!DOCTYPE html>
<html lang="en">

<head>
  <title>Goblin Tees | Cart</title>
  <link rel="stylesheet" th:href="@{/css/consolidated-stylesheet.css}">
  <link rel="icon" type="image/x-icon" href="images/favicon.ico">
</head>

<body>
  <!-- nav bar -->
  <div th:replace="~{fragments/navigation.html :: navBar(${'Shopping Cart'})}"></div>

  <div class="cartContainer" th:if="${cartItemCount > 0}">

    <table>
      <tr th:each="cartItem, stat: ${cartItems}">
        <td>
          <img th:src="@{${cartItem.getProduct().getImagePath()}}">
        </td>
        <td>
          <h2 th:text="${cartItem.getProduct().getProductName().toUpperCase()}"></h2>
          <p th:text="${'Size: ' + cartItem.getSize()}"></p>
          <p th:text="${'Quantity: ' + cartItem.getQuantity()}"></p>
          <p th:text="${'Item Price: ' + '&#36;'+ cartItem.getProduct().getPrice()}"></p>
          <p th:text="${'Total Price: ' + '&#36;' + (cartItem.getProduct().getPrice() * cartItem.getQuantity())}"></p>
          <form th:action="@{/removeFromCart}" method="post">
            <input type="hidden" th:value="${cartItem.getProduct().getProductID()}" th:name="productID" />
            <input type="hidden" th:value="${cartItem.getSize()}" th:name="size" />
            <button class="addToCart" th:name="action" type="submit">🗑 Remove Item</button>
          </form>
          <div class="divider"></div>
        </td>
      </tr>
    </table>

    <div class="orderSummary">
      <div class="orderSummaryContents">
        <h2>Order Summary</h2>
        <h3 th:text="${cartItemCount} + ' Item(s)'"></h3>
        <hr class="rounded">
        <p th:text="${'Subtotal:  ' + '&#36;' + cartTotal}"></p>
        <form th:action="@{/call-checkout}" method="post">
          <div class="checkout_button_container">
            <button type="submit" id="checkout-button">Proceed to Checkout</button>
          </div>
        </form>
      </div>
    </div>

  </div>
  <div th:unless="${cartItemCount > 0}"><h1>Your Cart is Empty</h1></div>
</body>

</html>