<!DOCTYPE html>
<html lang="en">

<head>
  <title>Goblin Tees | Checkout</title>
  <link rel="stylesheet" href="css/main-style.css">
  <link rel="stylesheet" href="css/checkout-style.css">
  <link rel="stylesheet" href="css/stylesheet.css">
</head>
</head>

<body>
  <header>
    <a href="/" class="logo"> <img class = "logo_pic" 
      src = "images/greenGoblinClipArtTransparent.png"> </a> <!--Check if this needs fix-->

    <a href="cart"><img class="icon-cart" src="images/bag-icon.png"></a></li>

  </header>
  
  <div class="container">
    <form action="">
      <div class="row">
        <div class="col">
          <h3 class="title">billing address</h3>
            <div class="inputField">
              <span>full name</span>
                <input type="text">
            </div>

            <div class="inputField">
                <span>email</span>
                <input type="email">
            </div>

            <div class="inputField">
                <span>street address</span>
                <input type="text">
            </div>

            <div class="inputField">
                <span>city</span>
                <input type="text">
            </div>

            <div class="half">
                <div class="inputField">
                    <span>state</span>
                    <input type="text">
                </div>

                <div class="inputField">
                    <span>zip code</span>
                    <input type="text">
                </div>
            </div>
            
              <input type="checkbox" checked="checked">
              <span>shipping address same as billing</span>
  
          </div>

            <div class="col">
                <h3 class="title">payment</h3>

                <div class="inputField">
                    <span>cards accepted</span>
                    <img src="images/card_img.png" alt="">
                </div>

                <div class="inputField">
                    <span>name on card</span>
                    <input type="text">
                </div>

                <div class="inputField">
                    <span>credit card number</span>
                    <input type="number" >
                </div>

                <div class="inputField">
                    <span>exp month</span>
                    <input type="text">
                </div>

                <div class="half">
                    <div class="inputField">
                        <span>exp year</span>
                        <input type="number">
                    </div>

                    <div class="inputField">
                        <span>CVV</span>
                        <input type="text">
                    </div>
                </div>
            </div>
        </div>

        <input type="submit" value="submit order" class="submit-btn">

      </form>
    </div>    
  </body>
</html>