<!DOCTYPE html>
<html lang="en">

<head>
  <title>Goblin Tees | Confirmation</title>
  <link rel="stylesheet" th:href="@{/css/consolidated-stylesheet.css}">
  <link rel="icon" type="image/x-icon" href="images/favicon.ico">
</head>

<body>
    <!-- nav bar -->
  <div th:replace="~{fragments/navigation.html :: navBar(${'Order Confirmation'})}"></div>

  <div class="container">
    <div class="confirmation-box">
      <h1>Thank You for Your Order!</h1>
      <hr>
      <h1>Order confirmation:</h2>
      <div class="confirmation-content">
          <table>
              <td>
                <h2 class="confirmation-detail" th:text="${'Email: ' + order.getUser().getEmail()}"></h2>
                <h2 class="confirmation-detail" th:text="${'Order number: ' + order.getUser().getOrders().get(0).getOrderID()}"></h2>
                <h2 class="confirmation-detail" th:text="${'Order total: $' + order.getTransactionPrice()}"></h2>
              </td>
          </table>
      </div>
          <br><br><hr><br><br>
      <div class="confirmation-content">
        <p>
          We will begin processing your order right away.<br><br>
          We hope to see you again soon!<br>
        </p>
      </div>
      </div>
    </div>
  </div>
</body>