<!DOCTYPE html>
<html lang="en">

  <head>
    <title>Error</title>
    <link rel="icon" type="image/x-icon" href="images/favicon.ico">
    <link rel="stylesheet" th:href="@{/css/consolidated-stylesheet.css}">
  </head>

  <body>
    <!-- nav bar -->
    <div th:replace="~{fragments/navigation.html :: navBar(${''})}"></div>

    <h2 class="error_center">Error</h2>
    <h5 class="error_center">Sorry! The page you requested does not exist.</h5>
    <img src="images/green-goblin.jpeg" alt="Error Image">
  </body>

</html>