<!DOCTYPE html>
<html lang="en">

<head>
  <title>Goblin Tees | Home</title>
  <link rel="stylesheet" th:href="@{/css/consolidated-stylesheet.css}">
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
</head>

<body>
  <!-- nav bar -->
  <div th:replace="~{fragments/navigation.html :: navBar(${''})}"></div>
  
  <section class="homeBanner">
    <img src="images/home-banner.jpg">
  </section>
  <div class="bestSellersContainer">
    <h1> Green Goblins Best Sellers </h1>
    <br>
    <div class="productGrid">
      <div class="product">
        <img src="images/menKiwi.avif">
        <h3>Kiwi</h3>
        <p>Men's Cotton Crew Neck Short-Sleeve T-Shirt </p>
        <p><b>$19.90 </b></p>
        <button class="addToCart">Add to Cart</button>
      </div>
      <div class="product">
        <img src="images/womenViridian.avif">
        <h3>Viridian</h3>
        <p>Women's Cotton Boat Neck<br> Short-Sleeve T-Shirt</p>
        <p><b>$29.90 </b></p>
        <button class="addToCart">Add to Cart</button>
      </div>
      <div class="product">
        <img src="images/kidsForest.jpg">
        <h3>Forest</h3>
        <p>Kids' Cotton Oversized Crew Neck Short-Sleeve T-Shirt </p>
        <p><b>$9.90 </b></p>
        <button class="addToCart">Add to Cart</button>
      </div>
      <div class="product">
        <img src="images/womenPine.avif">
        <h3>Pine</h3>
        <p>Women's Waffle Crew Neck<br> Long-Sleeve T-Shirt</p>
        <p><b>$39.90 </b></p>
        <button class="addToCart">Add to Cart</button>
      </div>
    </div>
  </div>
</body>

</html>