<!DOCTYPE html>
<html lang="en">

<head>
  <title>Goblin Tees | Home</title>
  <link rel="stylesheet" href="css/main-style.css">
  <link rel="stylesheet" href="css/home-style.css">
</head>

<body>
  <header>
    <a href="#" class="logo">Logo</a> <!--placeHolder-->
    <nav>
      <div class="nav-bar" id="nav-bar-left">
        <ul>
          <li><a href="#">Men</a></li>
          <li><a href="w#">Women</a></li>
          <li><a href="/">Kids</a></li>
        </ul>
      </div>
      <div class="nav-bar" id="nav-bar-right">
        <ul>
          <li><a href="cart.html"><img class="header_pic" src="images/shopping-cart.png"></a></li>
          <li><a href="user"><img class="header_pic" src="images/user.png"></a></li>
        </ul>
      </div>
    </nav>

  </header>
  <div class="container">
    <h2>Products</h2>
    <div class="product-grid">
      <div class="product">
        <img src="images/pic.jpg">
        <h3>Item</h3>
        <p>Description goes here</p>
        <p>Price: $30</p>
        <button>Add to Cart</button>
      </div>
      <div class="product">
        <img src="images/pic.jpg">
        <h3>Item1</h3>
        <p>Description goes here</p>
        <p>Price: $30</p>
        <button>Add to Cart</button>
      </div>
      <div class="product">
        <img src="images/pic.jpg">
        <h3>Item2</h3>
        <p>Description goes here</p>
        <p>Price: $30</p>
        <button>Add to Cart</button>
      </div>
      <div class="product">
        <img src="images/pic.jpg">
        <h3>Item3</h3>
        <p>Description goes here</p>
        <p>Price: $30</p>
        <button>Add to Cart</button>
      </div>
    </div>
  </div>
</body>
</html>