<!DOCTYPE html>
<html lang="en">

<head>
  <title>Goblin Tees | Men</title>
  <link rel="stylesheet" href="css/main-style.css">
  <link rel="stylesheet" href="css/home-style.css">
  <link rel="stylesheet" href="css/stylesheet.css">
</head>

<body>
  <header>
    <a href="/" class="logo"> <img class = "logo_pic" 
      src = "images/greenGoblinClipArtTransparent.png"> </a> <!--Check if this needs fix-->
    <nav>
      <div class="nav-bar">
        <ul>
          <li><a href="men">Men</a></li>
          <li><a href="women">Women</a></li>
          <li><a href="kids">Kids</a></li>
          <li><a href="cart"><img class="icon-bag" src="images/bag-icon.png"></a></li>
          <li><a href="user"><img class="header_pic" src="images/user-icon.png"></a></li>
        </ul>
      </div>
    </nav>

  </header>
  <div class="container">
    <h2>Men </h2>
    <div class="product-grid">
      <div class="product">
        <img src="images/menKiwi.avif">
        <h3>Kiwi</h3>
        <p>Men's Cotton Crew Neck Short-Sleeve T-Shirt </p>
        <p><b>$19.90 </b></p>
        <button>Add to Cart</button>
      </div>
      <div class="product">
        <img src="images/menForest.jpg">
        <h3>Forest</h3>
        <p>Men's Cotton Oversized Crew Neck Short-Sleeve T-Shirt </p>
        <p><b>$29.90 </b></p>
        <button>Add to Cart</button>
      </div>
      <div class="product">
        <img src="images/menEmerald.avif">
        <h3>Emerald </h3>
        <p>Men's Cotton V Neck<br> Short-Sleeve T-Shirt</p>
       <p><b>$19.90 </b></p>
        <button>Add to Cart</button>
      </div>
      <div class="product">
        <img src="images/menViridian.avif">
        <h3>Viridian</h3>
        <p>Men's Athletic Crew Neck<br> Short-Sleeve T-Shirt</p>
        <p><b>$29.90 </b></p>
        <button>Add to Cart</button>
      </div>
        <div class="product">
        <img src="images/menJade.avif">
        <h3>Jade</h3>
        <p>Men's Cotton Crew Neck<br> Long-Sleeve T-Shirt </p>
        <p><b>$39.90 </b></p>
        <button>Add to Cart</button>
      </div>
        <div class="product">
        <img src="images/menPine.avif">
        <h3>Pine</h3>
        <p>Men's Cotton Henley<br> Long-Sleeve T-Shirt</p>
        <p><b>$39.90 </b></p>
        <button>Add to Cart</button>
      </div>
        <div class="product">
        <img src="images/menOlive.avif">
        <h3>Olive</h3>
        <p> Men's Non-Iron Slim-Fit<br> Long-Sleeve Shirt</p>
        <p><b>$49.90 </b></p>
        <button>Add to Cart</button>
      </div>
        <div class="product">
        <img src="images/menSage.avif">
        <h3>Sage</h3>
        <p> Men's Stretch Slim-Fit <br>Long-Sleeve Shirt</p>
        <p><b>$49.90 </b></p>
        <button>Add to Cart</button>
      </div>
    </div>
  </div>
</body>
</html>