<!DOCTYPE html>
<html lang="en">

<head>
  <title>Goblin Tees | Product</title>
  <link rel="stylesheet" th:href="@{/css/consolidated-stylesheet.css}">
  <link rel="icon" type="image/x-icon" href="images/favicon.ico">
</head>

<body>
  <!-- nav bar -->
  <div th:replace="~{fragments/navigation.html :: navBar(${''})}"></div>

  <div class="bestSellersContainer">
    <h2 th:text="${product.getCategory().getCategoryName() + ' T-shirt'}"></h2>
    <div class="product">
      <div class="scroll-container">
        <br>
        <img id="product_page_image" th:src="@{${product.getImagePath()}}">
        <br>&nbsp;
      </div>
      
      <h3 th:text="${product.getProductName()}"></h3>
      <p th:text="${product.getDescription()}"></p>
      <p th:text="${'&#36;'+product.getPrice()}" style="font-weight: bold;"></p>
      <br>&nbsp;&nbsp;&nbsp;

      <div class="productOptions">
        <p id="quantity"> Quantity: </p>
        <input type="number" name="quantity" min="0" max="25" style="font-size: 16px">
        <select name="size" style="font-size:16px;">
          <option value="XS">XS</option>
          <option value="S">S</option>
          <option value="M">M</option>
          <option value="L">L</option>
          <option value="XL">XL</option>
        </select>
      </div>
      <br><br><br>
      <button class="addToCart" onclick="window.location.href='/cart'">Add to Cart</button>
      <br><br><br>
    </div>
  </div>
</body>
</html>>