<!DOCTYPE html>
<html lang="en">

<head>
  <title>Green Goblins</title>
  <link rel="stylesheet" href="css/stylesheet.css">
</head>

<body>
  <header>
    <div>
    <h1>Green Goblins Apparel</h1>
    <img class="header_pic" src="images/shopping-cart.png">
    <img class="header_pic" src="images/user.png">
    </div>
  </header>
  <nav>
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">Products</a></li>
      <li><a href="#">About Us</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </nav>
  <div class="container">
    <h2>Products</h2>
    <div class="product-grid">
      <div class="product">
        <img src="images/pic.jpg">
        <h3>Item</h3>
        <p>Description goes here</p>
        <p>Price: $30</p>
        <button>Add to Cart</button>
      </div>
      <div class="product">
        <img src="images/pic.jpg">
        <h3>Item1</h3>
        <p>Description goes here</p>
        <p>Price: $30</p>
        <button>Add to Cart</button>
      </div>
      <div class="product">
        <img src="images/pic.jpg">
        <h3>Item2</h3>
        <p>Description goes here</p>
        <p>Price: $30</p>
        <button>Add to Cart</button>
      </div>
      <div class="product">
        <img src="images/pic.jpg">
        <h3>Item3</h3>
        <p>Description goes here</p>
        <p>Price: $30</p>
        <button>Add to Cart</button>
      </div>
    </div>
  </div>
</body>
</html>