<!DOCTYPE html>
<html lang="en">

<head>
  <title>User Page</title>
  <link rel="stylesheet" href="css/stylesheet.css">
</head>

<body>
    <header>
      <div>
      <h1>Green Goblins Apparel</h1>
      <a href="cart"><img class="header_pic" src="images/shopping-cart.png"></a>
      <a href="user"><img class="header_pic" src="images/user.png"></a>
      </div>
    </header>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="#">Products</a></li>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </nav>

    <h1 style="text-align: center; padding: 10px">Empty User Page</h1>
  </body>

</html>